.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f7f7f7;
}

/* [data-theme="dark"] .message-list {
  background-color: #1f2937;
} */

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Updated MessageBubble styles */
.message-bubble {
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex; /* Enable flex for alignment */
}

/* [data-theme="dark"] .message-bubble {
  background-color: #4b5563;
  color: #e5e7eb;
} */

.message-bubble.sent {
  background-color: #dcf8c6;
  justify-content: flex-end; /* Align sent messages to right */
}

/* [data-theme="dark"] .message-bubble.sent {
  background-color: #6b7280;
} */

/* Default styling for received messages */
.message-bubble:not(.sent) .message-content {
  background-color: #e5e7eb;
}

/* [data-theme="dark"] .message-bubble:not(.sent) .message-content {
  background-color: #4b5563;
} */

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f3f4f6; /* light mode default */
}

body.dark .message-list {
  background-color: #1f2937; /* dark mode */
}

.no-messages {
  color: #807d7d;
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}
